@charset "utf-8";

header {
    position: relative;
}
span {
    display: inline-block;
}

a:hover {
    opacity: 0.5;
}
a {
    transition: 0.3s;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 226px;
}
/* スライダー */
.slick-dots {
    bottom: 20px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.pc_nav ul {
    display: flex;
    gap: 55px;
}

.pc_nav ul li {
    width: 105px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: bold;
}

.copy_wrap {
    margin: 0 auto;
    line-height: 1.17;
    text-align: center;
    max-width: 1000px;
    padding: 10% 0 10% 0;
}
.copy_eng {
    font-size: 30px;
}
.copy_main {
    font-size: 82px;
    padding: 6% 0 5% 0;
    align-items: center;
    letter-spacing: 0.1em;
    line-height: 1.17;
}

.copy_sub {
    font-size: 23px;
    text-align: center;
    line-height: 1.65;
}

.about_wrap {
    margin: 0 auto;
    align-items: center;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.about_img {
    margin-left: 10px;
}
.about_img img {
    border-bottom-right-radius: 82px;
}

.about_right {
    max-width: 41%;
    margin-right: 10px;
}

.about_logo {
    width: 275px;
}
.about_sub {
    font-size: 44px;
    line-height: 1.39;
    padding: 6% 0 4% 0;
}

.about_text {
    font-size: 16px;
    line-height: 1.63;
}
.about_sub p {
    line-height: 1.39;
}
.order2 {
    width: 50%;
}
.menu_wrap {
    margin: 0 auto;
    align-items: center;
    max-width: 1000px;
    padding: 11% 0 10% 0;
}
.menu_img img {
    border-top-right-radius: 41px;
}
.menu_logo {
    width: 151px;
    margin: 0 auto;
}
.menu_title {
    max-width: 1000px;
    padding-bottom: 5%;
}

.menu_container {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 5px;
}

.menu_box {
    max-width: 30%;
}

.menu_img {
    position: relative;
}
.menu_container h3 {
    position: absolute;
    top: 94%;
    left: 13px;
    font-size: 38px;
    color: #d30202;
}
.menu_container p {
    padding-top: 44px;
    max-width: 100%;
    font-size: 17px;
    line-height: 1.47;
}

.gallery_title {
    padding-bottom: 3%;
}
.gallery_logo {
    width: 245px;
    margin: 0 auto;
}
.gallery_slider ul {
    max-width: 100vw;
    display: flex;
}

.event_wrap {
    margin: 0 auto;
    max-width: 1000px;
    padding: 7% 0 8% 0;
}
.event_logo {
    width: 174px;
    margin: 0 auto;
    padding-bottom: 4%;
}
.event_list {
    max-width: 1000px;
    background-color: #fff;
    border: 4px solid #4f260b;
    margin: 0 10px 0 10px;
}
.event_list ul {
    width: 67%;
    margin: 0 auto;
    padding: 4% 0 4% 0;
}

.event_list li {
    display: flex;
    font-size: 23px;
    padding-top: 3%;
}

#event1 {
    padding-top: 0;
}

.text {
    text-decoration: underline;
    /* width: 100%; */
    padding-left: 6%;
    /* overflow-wrap: anywhere; */
    /* white-space: nowrap; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.access_wrap {
    width: 100%;
}
.access_logo {
    width: 214px;
    margin: 0 auto;
}
.access_map iframe {
    width: 100%;
    margin: 0 auto;
    padding-top: 5%;
    height: 471px;
}
iframe {
    vertical-align: bottom;
}
footer {
    background-color: #fff;
}
.footer_wrap {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    padding: 8% 2% 0 2%;
}
.footer_info {
    padding-left: 7%;
    line-height: 1.95;
    font-size: 20px;
}
.footer_logo {
    width: 227px;
}
.c {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    padding: 8% 0 8% 0;
}
.pagetop {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 125px;
}

.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }
    .sp_btn {
        display: block;
        height: 23px;
        cursor: pointer;
        position: absolute;
        top: 22px;
        right: 25px;
        z-index: 2;
    }
    .sp_btn span {
        display: block;
        width: 33px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        background: #fff;
        border-radius: 2px;
        position: absolute;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    .sp_btn.open span {
        background: transparent;
    }
    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 40px;
    }
    .sp_nav ul li {
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
        font-size: 18px;
    }

    .copy_main {
        font-size: 38px;
    }
    .kodawari {
        font-size: 36px;
    }

    .about_text {
        font-size: 16px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 767px) {
    .menu_box p {
        font-size: 17px;
    }
    .copy_eng {
        font-size: 17px;
    }

    .copy_sub,
    .day,
    .text {
        font-size: 16px;
    }

    .footer_info {
        font-size: 18px;
    }

    .about_logo {
        width: 160px;
    }
    .menu_logo {
        width: 88px;
    }
    .gallery_logo {
        width: 142px;
    }
    .event_logo {
        width: 101px;
    }
    .access_logo {
        width: 124px;
    }
    .footer_logo {
        width: 227px;
    }
    .about_wrap {
        flex-direction: column;
    }
    .about_img img {
        border-bottom-right-radius: 0;
    }
    .about_logo {
        padding-bottom: 5%;
    }
    .about_img {
        max-width: 100%;
        padding: 0;

        margin-left: 0;
    }
    .kodawari,
    .about_text {
        padding: 0 5% 0 5%;
        margin: 0 auto;
    }
    .kodawari {
        margin-right: auto;
    }

    .about_right {
        width: 100%;
        display: contents;
    }
    .order1 {
        order: 1;
    }
    .order2 {
        order: 2;
        width: 100%;
    }

    .order3 {
        order: 3;
    }
    .order4 {
        order: 4;
    }
    .menu_wrap {
        max-width: 80%;
    }
    .menu_container {
        flex-direction: column;
        padding: 0;
    }
    .menu_box {
        max-width: 100%;
    }
    .menu_container p {
        padding-bottom: 30px;
    }
    .menu_container h3 {
        font-size: 40px;
    }
    .event_list {
        margin: 0 5% 0 5%;
    }

    .event_list ul {
        display: block;
        width: 77%;
    }
    .event_list li {
        flex-direction: column;
    }
    .text {
        padding: 2px 0 15px 0;
    }
    #event3 .text {
        padding-bottom: 0;
    }

    .access_map iframe {
        height: 191px;
    }
    .footer_wrap {
        flex-direction: column;
    }
    .footer_info {
        padding-left: 0;
        padding-top: 34px;
    }

    .pagetop {
        bottom: 205px;
        width: 100px;
    }
}
